

:root {
  --primary: #336666;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
  --light: #edf1f2;
  --dark: #262626;

}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

legend {
  @media (max-width: 480px) {
    font-size: 22px !important;
  }

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  padding-top: 60px;
  color: rgb(32, 32, 43);
  background: var(--light);
  margin: 0 !important;
  -webkit-font-smoothing: antialiased;
  transition: 0.2s ease all;

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  &::-webkit-scrollbar {
    width: 10px !important;
    /* Ancho de la barra */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color de fondo de la barra */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 40px;
  }

  &.dark_{
    background: var(--dark);
    
  }


}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: min(95%, 120rem);
  margin: 2px auto !important;
}