.Step_1 {
    width: 100%;
    min-height: calc(100vh - 200px);
    padding-top: 100px;
    // background-image: url('../../img/magnifying.jpg');
    background: rgba(128, 128, 128, 0.598);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffffa1;
        z-index: 1;
    }
    .p-inputtext:enabled:focus{
        border-radius: #3e6d91 !important;
    }
    .p-button{
        border-radius: 0 !important;

        &:hover{
            letter-spacing: 1.5px !important;
        }
    }
    .p-inputtext{
        border-radius: 0px;
        &:hover{
            border-color: #3e6d91 !important;
        }
    }

    .Register {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        padding-bottom: 50px;

        .containerR {
            width: min(95%, 480px);
            min-height: 450px;
            background-color: aliceblue;
            border-radius: 10px;
            -webkit-box-shadow: 0px 7px 5px -2px rgba(74, 74, 74, 1);
            -moz-box-shadow: 0px 7px 5px -2px rgba(74, 74, 74, 1);
            box-shadow: 0px 7px 5px -2px rgb(62, 62, 62);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(34, 26, 57);
            padding: 0 20px;
            padding-top: 30px;

            h3 {

                margin-bottom: 10px;
                margin-top: 10px;

            }

            p {
                text-align: center;
                font-size: 14px;
            }

            img {
                width: 130px;
                height: 54px;
            }

            .codeNumber {
                @media (max-width: 480px) {
                    width: 100%;
                }

                width: 70%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                input {
                    width: 40px !important;
                    height: 40px !important;
                    text-align: center;
                    border-radius: 5px;
                    border: 1px solid #3e6d91;
                }
            }

            .messageError {
                display: flex;
                gap: 5px;
                align-items: center;
                height: 21px;

                .error {
                    font-size: 14px;
                    color: red;
                    margin: 0;
                    height: 21px;
                }

                img {
                    width: 21px;
                    height: 21px;
                }
            }

            .input {

                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 8px;
                gap: 5px;

                label {
                    font-size: 14px;
                }

                input {
                    width: 100%;
                    height: 40px;
                }

                .code {
                    text-align: center;
                    margin-bottom: 20px;
                }
            }

            .button {
                width: 100%;
                margin-top: 30px;
                margin-bottom: 20px;

                button {
                    width: 100%;
                    height: 50px;
                }

                .color {
                    background-color: #3e6d91 !important;
                }

                .b-b {
                    background-color: transparent !important;
                    border-color: #3e6d91;
                    color: #3e6d91 !important;
                }

            }

            .reSend {
                border: none !important;
                cursor: pointer;
                font-size: 12px;

                &:hover {
                    color: gray;
                }
            }

            .p-button.p-button-secondary:enabled:focus {
                box-shadow: none;
            }

            .p-button .p-button-label {
                font-size: 16px;
            }

        }

        .error {
            font-size: 14px;
            color: red;
            margin: 0;
            height: 21px;
        }
    }
}

.p-dropdown {
    height: 40px !important;

    .p-dropdown-label {
        display: flex;
        align-items: center;
    }
}