.SearchC {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 212px);


    .error {
        font-size: 30px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        img {
            width: 300px;
            height: 300px;
        }

        body.dark & {
            color: white;
        }
    }


    .search {
        width: 100%;
        position: relative;
        margin-bottom: 30px;

        input {
            @media (max-width: 768px) {
                font-size: 26px;
                padding: 0 30px 0 10px;
            }

            @media (max-width: 480px) {
                font-size: 20px;
            }

            body.dark & {
                color: #3e6d91;
                background: linear-gradient(to top, #a5a5a5de, #ffffffcd);
            }

            width: 100%;
            height: 70px;
            background: linear-gradient(to top, #3e6d9173, #3e6d91bc);
            border: none !important;
            font-size: 35px;
            padding: 0 30px;
            color: rgb(237, 237, 237);

            &::placeholder {
                body.dark & {
                    color: #3e6d91;
                }

                color: rgb(237, 237, 237);
            }
        }

        p {
            @media (max-width: 480px) {
                margin-left: 10px;
                font-size: 12px;
            }
            margin-top: 0;
            margin-left: 30px;
            font-size: 16px;
            color: gray;

            body.dark & {
                color: white;
            }


        }

        button {
            @media (max-width: 768px) {
                font-size: 26px;
                top: 36px;
            }

            @media (max-width: 480px) {
                font-size: 20px;
            }

            font-size: 35px;
            color: rgb(237, 237, 237);
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 15px;
            right: 20px;
        }

        .avanced {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 10px;

            .next {
                cursor: pointer;
                border: 1px solid transparent;
                padding: 5px;
                font-size: 16px;

                &:hover {
                    border: 1px solid #3e6d91;

                    body.dark & {
                        border: 1px solid white;
                        color: #3e6d91;
                    }
                }

                svg {
                    body.dark & {
                        stroke: rgb(218, 218, 218);
                    }

                    transform: rotate(-90deg);
                    width: 20px;
                    height: 20px;
                }

                a {
                    body.dark & {
                        color: rgb(218, 218, 218);
                    }

                    color: #3e6d91;
                    text-decoration: none;
                }

                display: flex;
                align-items: center;
            }
        }
    }

    fieldset {
        @media (max-width: 480px) {
            margin: 5px;
        }

        text-align: center;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin: 30px;

        legend {
            padding: 0 20px;
            font-size: 40px;

            body.dark & {
                color: rgb(218, 218, 218);
            }
        }

    }

    .journals {
        @media (max-width: 1440px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 1080px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        display: grid;
        margin: 0px auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px 50px;

        .journalS {
            // @media (max-width: 1280px) {
            //     display: grid;
            //     grid-template-columns: 35% 62%;
            //     gap: 20px;
            // }

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 300px;
                height: 350px;
                object-fit: cover;
                object-position: top;
            }

            h3 {
                @media (max-width: 480px) {
                    margin: 0;
                }

                font-size: 16px;
                height: 60px;
                display: flex;
                align-items: end;
                padding-bottom: 5px;
                width: 100%;
                justify-content: center;

                body.dark & {
                    color: rgb(218, 218, 218);
                }
            }

            p {
                font-size: 16px;
                text-align: justify;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 12;
                overflow: hidden;
            }

            a {
                @media (max-width: 480px) {
                    width: 100%;
                }
            }

            button {
                @media (max-width: 1280px) {
                    max-width: 300px;
                    width: 100%;
                }



                height: 40px;
                width: 300px;
                background: #3e6d91;
                border: none;
                color: white;
                text-transform: uppercase;
                margin-top: 24px;
                font-weight: 700;
                cursor: pointer;

                body.dark & {
                    color: white;
                    background-color: transparent;
                    border: 1px solid #3e6d91;
                }

                &:hover {
                    color: #3e6d91;
                    background: #FFF;
                    border: 1px solid #3e6d91;

                    body.dark & {
                        letter-spacing: 1.5px;
                        transition: letter-spacing .3s linear;
                    }

                }

            }
        }
    }
}